<div class="carousel"> 
  <ul class="panes">

    <li> 
      <div class="container">
        <div class="jumbotron row" id="blue-jumbotron">

          <div class="column title">
            <h1>a Little Bit more <strong>Knowledge</strong></h1>
            <p class="blue-text">by Albert Einstein</p>
          </div>

          <div class="book-image">
            <img src="/assets/book2.png">
          </div>

          <div class="row">
            <div class="circles-container column column-4-of-8-desktop">
              <div class="outer-circle" id="outer-circle-blue">
                <div class="middle-circle" id="middle-circle-blue">
                  <div class="inner-circle" id="inner-circle-blue"></div>
                </div>
              </div>
            </div><!--

            --><div class="blockquote column column-4-of-8-desktop">
              <blockquote> 
                <p class="quotation-mark quote-blue column column-1-of-8-desktop column-1-of-8-tablet column-1-of-8-phone">&#8221;</p>
                <p class="homepage-quote column column-7-of-8-desktop column-7-of-8-tablet column-7-of-8-phone blue-text">When the poet Paul Valery once asked Albert Einstein if he kept a notebook to record his ideas, Einstein looked at him with mild but genuine surprise. "Oh, that's not necessary," he replied. "It's so seldom I have one."</p>
                <cite class="homepage-cite column column-7-of-8-desktop column-7-of-8-tablet column-7-of-8-phone offset-1-of-8-desktop offset-1-of-8-tablet offset-1-of-8-phone"><strong>Bill Bryson</strong></cite>
              </blockquote>
              <p class="more-button"><%= link_to "More", a_little_bit_of_knowledge_path %></p>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li> 
      <div class="container">
        <div class="jumbotron row" id="green-jumbotron">

          <div class="column title">
            <h1>a Little Bit more <strong>Knowledge</strong></h1>
            <p class="green-text">by Albert Einstein</p>
          </div>

          <div class="book-image">
            <img src="/assets/book1.png">
          </div>

          <div class="row">
            <div class="circles-container column column-4-of-8-desktop">
              <div class="outer-circle" id="outer-circle-green">
                <div class="middle-circle" id="middle-circle-green">
                  <div class="inner-circle" id="inner-circle-green"></div>
                </div>
              </div>
            </div><!--

            --><div class="blockquote column column-4-of-8-desktop">
              <blockquote> 
                <p class="quotation-mark quote-green column column-1-of-8-desktop column-1-of-8-tablet column-1-of-8-phone green">&#8221;</p>
                <p class="homepage-quote column column-7-of-8-desktop column-7-of-8-tablet column-7-of-8-phone green-text">When the poet Paul Valery once asked Albert Einstein if he kept a notebook to record his ideas, Einstein looked at him with mild but genuine surprise. "Oh, that's not necessary," he replied. "It's so seldom I have one."</p>
                <cite class="homepage-cite column column-7-of-8-desktop column-7-of-8-tablet column-7-of-8-phone offset-1-of-8-desktop offset-1-of-8-tablet offset-1-of-8-phone"><strong>Bill Bryson</strong></cite>
              </blockquote>
              <p class="more-button"><%= link_to "More", a_little_bit_of_knowledge_path %></p>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li> 
      <div class="container">
        <div class="jumbotron row" id="red-jumbotron">

          <div class="column title">
            <h1>a Little Bit more <strong>Knowledge</strong></h1>
            <p class="red-text">by Albert Einstein</p>
          </div>

          <div class="book-image">
            <img src="/assets/book4.png">
          </div>

          <div class="row">
            <div class="circles-container column column-4-of-8-desktop">
              <div class="outer-circle" id="outer-circle-red">
                <div class="middle-circle" id="middle-circle-red">
                  <div class="inner-circle" id="inner-circle-red"></div>
                </div>
              </div>
            </div><!--

            --><div class="blockquote column column-4-of-8-desktop">
              <blockquote> 
                <p class="quotation-mark quote-red column column-1-of-8-desktop column-1-of-8-tablet column-1-of-8-phone red">&#8221;</p>
                <p class="homepage-quote column column-7-of-8-desktop column-7-of-8-tablet column-7-of-8-phone red-text">When the poet Paul Valery once asked Albert Einstein if he kept a notebook to record his ideas, Einstein looked at him with mild but genuine surprise. "Oh, that's not necessary," he replied. "It's so seldom I have one."</p>
                <cite class="homepage-cite column column-7-of-8-desktop column-7-of-8-tablet column-7-of-8-phone offset-1-of-8-desktop offset-1-of-8-tablet offset-1-of-8-phone"><strong>Bill Bryson</strong></cite>
              </blockquote>
              <p class="more-button"><%= link_to "More", a_little_bit_of_knowledge_path %></p>
            </div>
          </div>
        </div>
      </div>
    </li>


  </ul>
</div>

<div class="main-homepage row">
  <div class="column column-4-of-8-desktop column-8-of-8-tablet new-ebook">
    <div class="row divider"></div>
    <div class="row">
      <div class="column column-2-of-8-desktop">
        <div class="blue-background ebook">
          <span class="icons_sprite"></span>
        </div>
      </div>
      <div class="column column-6-of-8-desktop">
        <h2>We launched our NEW Ebooks...</h2>
      </div>
    </div>
    <div class="blue-background">
      <img src="/assets/ebook.png">
    </div>
    <div>
      <p>The eternal mystery of the world is its comprehensibility, I want to know God's thoughts; the rest are details. I never think of the future. It comes soon enough. Weakness of attitude becomes weakness of character.</p>
    </div>
    <div>
      <p class="more-button"><%= link_to "More", a_little_bit_of_knowledge_path %></p>
    </div>
  </div>

  <div class="column column-4-of-8-desktop column-8-of-8-tablet social-media-feed">
    <div class="row divider"></div>
    <div class="row">
      <div class="column column-8-of-8-desktop column-8-of-8-tablet">
        <h2>What's being said...</h2>
      </div>
    </div>

    <div class="row message-row">
      <div class="column column-2-of-8-desktop column-2-of-8-tablet media-feed-column">
        <div class="social-media-icon">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </div>
      <div class="column column-6-of-8-desktop column-6-of-8-tablet media-feed-column">
        <p class="social-media-title">a Little Bit <i>@alittlebit</i></p>
        <p class="social-media-message">The secret to creativity is knowing how to hide your sources, the eternal mystery of the world...</p>
      </div>
    </div>

    <div class="row message-row">
      <div class="column column-2-of-8-desktop column-2-of-8-tablet media-feed-column">
        <div class="social-media-icon">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
      <div class="column column-6-of-8-desktop column-6-of-8-tablet media-feed-column">
        <p class="social-media-title">Talking in a walled city</p>
        <p class="social-media-message">The only thing that interferes with my learning is my education, any intelligent fool can make things bigger...</p>
      </div>
    </div>

    <div class="row message-row">
      <div class="column column-2-of-8-desktop column-2-of-8-tablet media-feed-column">
        <div class="social-media-icon">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
      <div class="column column-6-of-8-desktop column-6-of-8-tablet media-feed-column">
        <p class="social-media-title">Fenced in Messages on an open web</p>
        <p class="social-media-message">The only thing that interferes with my learning is my education, any...</p>
      </div>
    </div>

    <div class="row message-row">
      <div class="column column-2-of-8-desktop column-2-of-8-tablet media-feed-column">
        <div class="social-media-icon">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </div>
      <div class="column column-6-of-8-desktop column-6-of-8-tablet media-feed-column">
        <p class="social-media-title">a Little Bit <i>@alittlebit</i></p>
        <p class="social-media-message">The only thing that interferes with my learning is my education, any intelligent fool can make things bigger...</p>
      </div>
    </div>
  </div>
</div>

<div class="row homepage-more-bits">
  <div class="column column-4-of-8-desktop column-8-of-8-tablet more-bits-column">
    <div class="divider"></div>
  </div>
  <div class="column column-4-of-8-desktop column-8-of-8-tablet more-bits-column2">
    <div class="divider"></div>
  </div>
  <div class="row">
    <h2>More Bits...</h2>
  </div>
  <div class="row">
    <div class="column column-4-of-8-desktop column-4-of-8-tablet more-bits-column">
      <div class="row well">
        <div class="column column-3-of-8-desktop column-3-of-8-tablet more-bits-column2">
          <img src="/assets/book3.png">
        </div>
        <div class="column column-5-of-8-desktop column-5-of-8-tablet more-bits-column">
          <h3>a Little Bit more Knowledge</h3>
          <p>world is its comprehensibility, I want to know God's thoughts; the rest are details. I never think of the future...</p>
          <p class="more-button"><%= link_to "More", a_little_bit_of_knowledge_path %></p>
        </div>
      </div>
    </div>
    <div class="column column-4-of-8-desktop column-4-of-8-tablet more-bits-column2">
      <div class="row well">
        <div class="column column-3-of-8-desktop column-3-of-8-tablet more-bits-column2">
          <img src="/assets/book4.png">
        </div>
        <div class="column column-5-of-8-desktop column-5-of-8-tablet more-bits-column">
          <h3>a Little Bit more Knowledge</h3>
          <p>world is its comprehensibility, I want to know God's thoughts; the rest are details. I never think of the future...</p>
          <p class="more-button"><%= link_to "More", a_little_bit_of_knowledge_path %></p>
        </div>
      </div>
    </div>    
  </div>
</div>
